$color-bg-menu: #333333;
$color-text-up-menu: #ffffff;
$color-text-up-menu-hover: #dcdcdd;
$color-text-bottom-menu: #808285;
$color-btn-banner-primary: #1eb4ec;
$color-btn-banner-primary-hover: #1caae0;
$color-link: #007bff;
$color-btn-banner-danger: #da2e2e; 
$color-btn-banner-danger-hover: #c32a2a;
$color-bg-button: #3d3d3d;
$color-bg-block: #ececec;
$color-title: #000000;
$color-course-title: #8c8d90;
$color-border: #cccccc;
$color-border-footer: #707070;
$color-event-bg: #f6f6f6;
$color-category-underline: #cccccc;
$color-title-support: #9a9b9e;
