@use 'sass:math';
@import '@wordpress/base-styles/colors';
@import '@wordpress/base-styles/variables';
@import '@wordpress/base-styles/mixins';
@import '@wordpress/base-styles/breakpoints';
@import '@wordpress/base-styles/animations';
@import '@wordpress/base-styles/z-index';
@import '@wordpress/components/src/style.scss';
@import '@wordpress/block-editor/src/style.scss';
@import '@wordpress/block-library/src/style.scss';

@import 'bootstrap/scss/functions';
@import 'bootstrap/scss/variables';
@import 'bootstrap/scss/mixins';
@import 'bootstrap/scss/root';
@import 'bootstrap/scss/containers';
@import 'bootstrap/scss/grid';

@import 'bootstrap/scss/utilities';
@import 'bootstrap/scss/utilities/api';

@import 'bootstrap/scss/button-group';
@import 'bootstrap/scss/buttons';
@import 'bootstrap/scss/forms';

@import '@vicoders/editor/index.umd.css';
@import 'antd/dist/antd.css';

.edit-page {
  margin-top: 100px;
}

.react-gutenberg {
  .react-gutenberg-editor {
    display: flex;
    .react-gutenberg-editor__content {
      position: relative;
      padding-right: 1rem;
      @include break-small() {
        width: calc(100% - #{$sidebar-width});
      }
    }
    .react-gutenberg-editor__sidebar {
      width: $sidebar-width;
      border-left: $border-width solid $gray-300;
      height: auto;
      overflow: auto;
      -webkit-overflow-scrolling: touch;

      display: none;
      @include break-small() {
        display: block;
      }
    }

    iframe {
      width: 100%;
    }
  }
  .editor-footer {
    margin-top: 1rem;
    .block-editor-block-breadcrumb {
      border: 1px solid #eee;
      border-radius: 2px;
      padding: 5px;
      background-color: #eeeeee4a;
      font-size: 0.7rem;
      li,
      button {
        color: #666;
      }
    }
  }
}

.webpress-edit-page__footer {
  margin-top: 1rem;
  .save-btn {
    margin-right: 5px;
    color: #fff;
    border-color: #1890ff;
    background: #1890ff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 12%);
    box-shadow: 0 2px #0000000b;
  }
  .close-btn {
    color: #000000d9;
    border-color: #d9d9d9;
    background: #fff;
    border: 1px dashed #d9d9d9;
  }
}
/**
 * Animations
 */

// These keyframes should not be part of the _animations.scss mixins file.
// Because keyframe animations can't be defined as mixins properly, they are duplicated.
// Since hey are intended only for the editor, we add them here instead.
@keyframes edit-post__fade-in-animation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
