.course-icons {
    text-align: center;
    margin-right: -15px;
    margin-left: -15px;
    padding-left: calc(100% / 12);
    padding-right: calc(100% / 12);

    .course-icon {
        margin-bottom: 50px;
        display: inline-block;
        margin-left: 68px;
        margin-right: 68px;
        .image-wrap {
            margin-bottom: 25px;
            img {
                max-width: 100%;
            }
        }
    }

    h4 {
        font-size: $font_size_small;
        color: $color-course-title;
        font-family: $font_family_semibold;
        margin-bottom: 15px;
    }

    p {
        font-size: $font_size_normal;
        color: $color-title;
        font-family: $font_family_regular;
        margin-bottom: 0;
    }
}
