.course-register-container {
    margin-top: 50px;
    background: #4c4c4c;
    @media screen and (max-width: 992px) {
        padding: 30px 15px;
    }
    .course-register-wrap {
        padding-top: 30px;
        padding-bottom: 30px;
        color: $color-text-up-menu;
        font-family: $font_family_regular;
        h2 {
            font-size: $font_size_larger;
            margin-bottom: 15px;
        }
        p {
            font-size: $font_size_normal;
            margin-bottom: 0;
        }
        @media screen and (max-width: 992px){
            padding-top: 0; 
        }
    }
}